body{
          background: #f1f1f1;
        }
        .header{
            width: 100%;
            height:50px;
            background: #535353;
        }
        .header_LR{
            color:#fff;
            float: right;
            font-size:16px;
            padding: 13px 0px 13px 13px;
        }
        .main_header{
            width: 100%;
            height:100px;
            background: #ececec;
        }
        .logo{
            height: 80px;
            margin: 10px;
        }
        .home_list_menu{
            padding: 30px 20px 30px 20px;
            color:#734a29;
            font-weight: bold;
            float: right;
        }
        .home_list_menu:hover{
            color:#a38975;
        }
        .list_menu_active{
            color:#c96d34;
            text-decoration: underline;
        }
        .no-effect{
            padding: 0px;
            margin: 0px;
        }
        .center_auto{
            margin: auto;
            margin-left: 0px;
            margin-right: 0px;
            display: inline-table;
            width: 35px;
            background: #000;
            padding: 10px;
        }
        .cafe_poster{
            padding: 20px;
        }
        .cafe_poster_img{
            padding: 0px;
            text-align: center;
        }
        .cafe_con_img{
          width: 100%;
          text-align: center;
          transition: 0.5s;
        }
        .cafe_hover{
          width: 100%;
          height: 170px;
          background: #000;
          opacity: 0.7;
          display: none;
        }

        .cafe_con_img:hover .cafe_hover{
          display: block;
          margin-top: -170px;
          cursor: pointer;
        }
        .cafe_price{
          color:#fff;
          position: absolute;
          top:80px;
          left: 120px;
          font-size: 16px;
          background: brown;
          padding: 5px 10px 5px 10px;
        }


/*footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
      footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
      .footerleft { margin-top:50px; padding:0 36px; }
      .logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

      .footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
      .footerleft p i { width:20px; color:#999;}


      .paddingtop-bottom {  margin-top:50px;}
      .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
      .footer-ul li { line-height:29px; font-size:12px;}
      .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
      .footer-ul i { margin-right:10px;}
      .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

      .social:hover {
           -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
           -o-transform: scale(1.1);
       }
       
       

       
       .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
       .icon-ul li { line-height:75px; width:100%; float:left;}
       .icon { float:left; margin-right:5px;}
       
       
       .copyright { min-height:40px; background-color:#000000;}
       .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
       .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
       .post p { font-size:12px; color:#FFF; line-height:20px;}
       .post p span { display:block; color:#8f8f8f;}
       .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
       .bottom_ul li { float:left; line-height:40px;}
       .bottom_ul li:after { content:'/'; color:#FFF; margin-right:8px; margin-left:8px;}
       .bottom_ul li a { color:#FFF;  font-size:12px;}

       /* social icons*/

        ul.social1 {list-style:none;}
        ul.social1 li {display:inline; padding: 0; margin:0 5px;}
        ul.social1 li a {display:inline-block; margin:0 auto; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; text-align:center; width: 50px; height: 50px; font-size:20px; position:relative; background-color: #a9a9a9;}
        ul.social1 li a i {color:#FFF; text-align: center; margin:0; line-height:50px; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s;}
        ul.social1 li a:hover i { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms--transform: rotate(360deg); transform: rotate(360deg);
                                 -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s;}

        .social1 li a.rss:hover {background-color: #F56505;}
        .social1 li a.twit:hover {background-color:#33ccff;}
        .social1 li a.google:hover {background-color:#BD3518;}
        .social1 li a.linkedin:hover {background-color:#007bb7;}
        /*end_footer*/

        .more_icon{
            margin: 3px -8px;
            cursor: pointer;
        }